.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas:
    "picker canvas"
    "gallery gallery";
}

.pickerContainer {
  grid-area: picker;
}

.canvasContainer {
  grid-area: canvas;
  height: 300px;
}

.galleryContainer {
  grid-area: gallery;
}
